<div class="min-h-screen flex items-center justify-center px-4">
  <div
    class="w-full max-w-md rounded-2xl bg-white shadow-xl p-8 !bg-[var(--my-primary-100)] text-[var(--my-primary-200)]"
  >
    <!-- Header -->
    <h2 class="text-2xl font-semibold text-center mb-6">Create Account</h2>

    <!-- Form -->
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()" class="space-y-5">
      <!-- First Name -->
      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium text-[var(--my-primary-200)]"> First Name </label>
        <input pInputText formControlName="firstName" placeholder="John" class="w-full" />
        @if (signupForm.get('firstName')?.invalid && (signupForm.get('firstName')?.touched ||
        submitted)) {
        <p-message severity="error" size="small" variant="simple">
          {{signupForm.get('firstName')?.errors?.['required'] ? 'First name is required' : 'Enter a valid first name'}}
        </p-message>
        }
      </div>

      <!-- Last Name -->
      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium text-[var(--my-primary-200)]"> Last Name </label>
        <input pInputText formControlName="lastName" placeholder="Doe" class="w-full" />
        @if (signupForm.get('lastName')?.invalid && (signupForm.get('lastName')?.touched ||
        submitted)) {
        <p-message severity="error" size="small" variant="simple">
          {{signupForm.get('lastName')?.errors?.['required'] ? 'Last name is required' : 'Enter a valid last name'}}
        </p-message>
        }
      </div>

      <!-- Email -->
      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium text-[var(--my-primary-200)]"> Email </label>
        <input
          pInputText
          type="email"
          formControlName="email"
          placeholder="john@example.com"
          class="w-full"
        />
        <p-message severity="error" size="small" variant="simple">
          {{signupForm.get('email')?.errors?.['required'] ? 'Email is required' : 'Enter a valid email'}}
        </p-message>
      </div>

      <!-- Password -->
      <div class="flex flex-col gap-1">
        <label class="text-sm font-medium text-[var(--my-primary-200)]"> Password </label>
        <p-password
          formControlName="password"
          [toggleMask]="true"
          [feedback]="true"
          placeholder="••••••••"
          class="w-full"
          inputStyleClass="w-full"
          [style]="{ width: '100%' }"
        ></p-password>
        <span
          class="text-xs text-red-500"
          *ngIf="signupForm.get('password')?.touched && signupForm.get('password')?.invalid"
        >
          Minimum 6 characters required
        </span>
      </div>

      <!-- Submit -->
      <div class="mt-4">
        <button pButton type="submit" label="Sign Up" class="w-full mt-4"></button>
      </div>
    </form>
  </div>
</div>
