@import 'primeicons/primeicons.css';

@layer tailwind-base, primeng, tailwind-utilities;

@layer tailwind-base {
  @tailwind base;
}

@layer tailwind-utilities {
  @tailwind components;
  @tailwind utilities;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --my-font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}
